<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llsfw.core.mapper.expand.IFunctionExpMapper">
    <select id="findNotIncludePurviewByRoleFunction" resultType="java.util.HashMap">
        SELECT A.PURVIEW_CODE,A.PURVIEW_NAME FROM TT_PURVIEW A WHERE NOT
        EXISTS(
        SELECT 1 FROM TT_ROLE_FUNCTION B WHERE B.ROLE_CODE=#{roleCode}
        AND A.FUNCTION_CODE=B.FUNCTION_CODE AND
        A.PURVIEW_CODE=B.PURVIEW_CODE
        ) AND A.function_code=#{functionCode}
        ORDER BY A.PURVIEW_CODE ASC
    </select>
    <select id="findNotIncludeFunctionPurviewByRole" resultType="java.util.HashMap">
        SELECT A.FUNCTION_CODE,A.PURVIEW_CODE FROM TT_PURVIEW A WHERE NOT
        EXISTS(
        SELECT B.FUNCTION_CODE,B.PURVIEW_CODE FROM TT_ROLE_FUNCTION B WHERE B.ROLE_CODE=#{roleCode}
        AND
        A.FUNCTION_CODE=B.FUNCTION_CODE AND A.PURVIEW_CODE=B.PURVIEW_CODE
        )ORDER BY A.FUNCTION_CODE,A.PURVIEW_CODE ASC
    </select>
    <select id="findFunctionPurviewByRole" resultType="java.util.HashMap">
        SELECT FUNCTION_CODE,PURVIEW_CODE FROM TT_ROLE_FUNCTION WHERE
        ROLE_CODE=#{roleCode}
    </select>
    <select id="getParentFunctionListCode" resultType="java.lang.String">
        SELECT DISTINCT
        D.PARENT_FUNCTION_CODE
        FROM TT_FUNCTION D
        WHERE D.STATUS=1 AND D.FUNCTION_CODE in
        <foreach collection="functionCodeList" item="listItem" open="(" close=")" separator=",">
            #{listItem}
        </foreach>
    </select>
    <select id="getFunctionList" resultType="java.util.HashMap">
        SELECT * FROM TT_FUNCTION D
        WHERE D.STATUS=1
        <if test="parentFunctionCode">
            AND D.PARENT_FUNCTION_CODE=#{parentFunctionCode}
        </if>
        AND D.FUNCTION_CODE in
        <foreach collection="functionCodeList" item="listItem" open="(" close=")" separator=",">
            #{listItem}
        </foreach>
        ORDER BY D.SORT ASC
    </select>
</mapper>
