<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llsfw.core.mapper.expand.ISecurityMapper">
    <select id="findUserRoles" resultType="java.lang.String">
        SELECT B.ROLE_CODE FROM TT_JOB_ROLE B WHERE EXISTS (
        SELECT A.JOB_CODE FROM TT_USER_JOB A
        WHERE A.LOGIN_NAME=#{loginName} AND A.JOB_CODE=B.JOB_CODE
        )
    </select>
    <select id="findRolePermissions" resultType="java.util.HashMap">
        SELECT A.FUNCTION_CODE,A.PURVIEW_CODE FUNCTION_PURVIEW
        FROM TT_ROLE_FUNCTION A
        LEFT JOIN TT_FUNCTION B ON
        A.FUNCTION_CODE=B.FUNCTION_CODE
        LEFT JOIN TT_PURVIEW C ON A.PURVIEW_CODE=C.FUNCTION_CODE AND A.PURVIEW_CODE=C.PURVIEW_CODE
        WHERE
        B.STATUS=1 AND ROLE_CODE IN
        <foreach collection="roleList" item="listItem" open="(" close=")" separator=",">
            #{listItem}
        </foreach>
    </select>
    <select id="findUserPermissions" resultType="java.util.HashMap">
        SELECT A.FUNCTION_CODE,A.PURVIEW_CODE FUNCTION_PURVIEW
        FROM TT_USER_FUNCTION A
        LEFT
        JOIN TT_FUNCTION B ON A.FUNCTION_CODE=B.FUNCTION_CODE
        LEFT JOIN TT_PURVIEW C ON A.PURVIEW_CODE=C.FUNCTION_CODE AND
        A.PURVIEW_CODE=C.PURVIEW_CODE
        WHERE B.STATUS=1 AND A.LOGIN_NAME=#{loginName}
    </select>
    <select id="findRoleFunctions" resultType="java.lang.String">
        SELECT A.FUNCTION_CODE FUNCTION_PURVIEW
        FROM TT_ROLE_FUNCTION A
        LEFT JOIN TT_FUNCTION B ON
        A.FUNCTION_CODE=B.FUNCTION_CODE
        LEFT JOIN
        TT_PURVIEW C ON A.PURVIEW_CODE=C.FUNCTION_CODE AND A.PURVIEW_CODE=C.PURVIEW_CODE
        WHERE B.STATUS=1 AND ROLE_CODE IN
        <foreach collection="roleList" item="listItem" open="(" close=")" separator=",">
            #{listItem}
        </foreach>
    </select>
    <select id="findUserFunctions" resultType="java.lang.String">
        SELECT A.FUNCTION_CODE FUNCTION_PURVIEW
        FROM TT_USER_FUNCTION A
        LEFT JOIN TT_FUNCTION B
        ON
        A.FUNCTION_CODE=B.FUNCTION_CODE
        LEFT JOIN TT_PURVIEW C ON A.PURVIEW_CODE=C.FUNCTION_CODE AND
        A.PURVIEW_CODE=C.PURVIEW_CODE
        WHERE
        B.STATUS=1 AND A.LOGIN_NAME=#{loginName}
    </select>
</mapper>
